.up {
    font-size: 69px;
    color: grey;
}

body {
    background-color: #ffe6e6;
    text-align: center;
}

.style {
    font-family: 'Xanh Mono', monospace;
    border: 16px #996633 dotted;

    margin: 25px;
}

.makeup {
    width: 369px;
}

.info {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.box {
    height: 84px;
    width: 84px;
    border-radius: 48%;
    padding: 16px;
    color: black;
    margin: 9px;
}

.youtube {
    background-color: #e6b800;
}

.site {
    background-color: #ffd966;
}

.Nyx {
    border: 16px white dashed;
    padding: 30px;
    margin: 35px;
    font-family: 'Caveat', cursive;
}

.text {
    font-size: 45px;
}

.size {
    font-size: 20px;
}

.LS {
    width: 349px;
}

.nominated {
    display: flex;
    justify-content: center;

}

.big {
    width: 50%;
    width: 79px;
    height: 99px;
    margin: 25px;
}

.web {
    background-color: #a44848;
}

.brunch {
    color: black;
    font-size: 23px;
}

.Artist {
    border: 16px #cc99ff solid;
    padding: 30px;
    margin: 35px;
    font-family: 'Lora', serif;
}

.ArianaGrande {
    width: 289px;
    width: 62%;
    border: 11px #ff99cc solid;
}

.fix {
    width: 50%;
    width: 79px;
    height: 99px;
    margin: 25px;
}

.flex {
    display: flex;
    justify-content: center;
}

.bag {
    border: 30px groove white;
    padding: 45px;
    margin: 16px;
    font-family: 'Crimson Text', serif;
    font-family: 'Cormorant Garamond', serif;
    color: #ff3377;
}

.Katespade {
    width: 349px;
}

.h:hover {
    background-color: grey;
}